* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #5a5a5a;
    height: 60px;
    width:100%;
}

.logo {
	width: 109px;
	vertical-align: middle;
	float:left;
	padding-left: 20px;
	padding-top: 24px;
}
	
h1 {
	color: #fff;
    font-size: 20px;
    vertical-align: middle;
    float: left;
    margin-left: 20px;
    line-height: 60px;
}

p {
    color: #5a5a5a;
    font-family: 'Libre Baskerville', serif;    
    font-size: 12px;
    line-height: 1.75em;
    margin: 10em;
    float: left;
}

.primary-nav {
    list-style-type: none;
    background-color: #fff;
    margin: 0;
    padding-top: 20px;
}

.primary-nav a {
  	color: #5a5a5a;
  	font-size: 14px;
  	float: right;
  	padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-decoration: none;
}

.primary-nav a:hover {
    color: #2c9ab7;
}

.secondary-nav {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    width: 150px;
    background-color: #fff;
}

.secondary-nav a {
    display: block;
    color: #5a5a5a;
    font-size: 14px;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.secondary-nav a:hover {
    background-color: rgba(44,154,183,.2);
    border-radius: 10px;
}



